.main {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

.header-above {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    top: 0;
    position: relative;
}

.menu-left {
    left: 0;
}

.menu-right {
    margin-left: 650px;
    margin-top: -60px;
    right: 0;
}

.header-above-menu {
    margin-left: 200px;
    margin-top: -80px;
}

.header-above-menu a {
    text-decoration: none;
    color: #2d4271;
}

.header-above-menu ul {
    list-style-type: none;
    display: flex;
    position: relative;
}

.header-above-menu li {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* background-color: beige;
    border: 1px solid black; */
}

.header-above-menu .search {
    line-height: 50px;
    width: 300px;
    height: 50px;
    line-height: 50px;
}

.logOn {
    font-size: 25px;
}

form {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

input[type="text"] {
    padding: 8px;
    border: 2px solid #ffc107;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
}

.header-below img {
    width: 100%;
    height: 400px;
}

#dropdow {
    width: 100%;
    height: 500px;
    background-color: #2d4271;
}

/* thanh cuon croll */

.slider {
    max-width: 1500px;
    margin: 25px auto;
    position: relative;
}

.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.slider-next {
    right: -25px;
}

.slider-prev {
    left: -25px;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 10;

}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: #999;
    cursor: pointer;
    transition: background-color 0.25s linear;

}

.slider-dots li.active {
    background-color: white;
}

.slider-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
    height: 100%;
    /* animation: runn 10s infinite; */
}

.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@keyframes runn {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-6000px);
    }
}