.main {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
}
.loadi{
  width: 100%;
  height: 100%;
  z-index: 10000;
 position:fixed;
 top: 0;
 left: 0;
 overflow: hidden;
display: block;
background-color: #B0E0E6;
}
.loading{
  
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  
}
.loading>img{
 
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;

  width: 100%;
  z-index: 20;
}

.header-above.sticky {
  background: #c7c2c2;
  opacity: 0.9;

}

.header-above.sticky.menu-left>b {
  color: #faf5f5;
}

.header-above {
  background-color: aliceblue;
  width: 100%;
  height: 80px;
  top: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.imglogo-header {
  width: 10%;
  position: absolute;
  height: 100%;
}

.photo {}

/* menu*/
.main-dropdown,
.main-dropdown2 {

  display: none;
}

.menu-dropdown2 {
  position: absolute;
  width: 250%;
  height: 600px;
  background-color: rgb(248, 248, 247);
  top: 80px;
  display: flex;
  border-radius: 0 0 10px 10px;
  border: 3px solid #ebecee;
  z-index: 20;
  margin-top: 1%;
}

.menu-dropdown {
  position: absolute;
  width: 190%;
  height: 800px;
  background-color: rgb(248, 248, 247);
  top: 80px;
  display: flex;
  border-radius: 0 0 10px 10px;
  border: 3px solid #ebecee;
  z-index: 20;
  margin-top: 1%;
}

.menu-dropdown-item {
  width: 25%;

}

.upberator-dropdown,
.uperator-dropdown2 {
  list-style-type: none;
}

.list-dropdown {
  padding: 20px;
}

.list-dropdown>a {
  text-decoration: none;
  color: #2d4271;
}

.list-dropdown2>a {
  text-decoration: none;
  color: #2d4271;
}

.lisdp>B>a {
  text-decoration: none;
  color: #2d4271;
}

.list-dropdown2 {
  padding: 30px;
}

.ubertor-news {
  position: absolute;
  display: block;
  padding: 0;
  list-style: none;
  z-index: 12;
  margin-top: 1%;
}

.menunone {
  display: none;
}

.list-news {
  text-align: left;
  height: 40px;
  padding: 10px;
  background-color: rgb(248, 248, 247);
  line-height: 40px;
}

.list-news>a {
  color: #2d4271;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

.list-news:hover {
  background-color: #999;
}

/* menu ringht left */
.menu-left-div {
  position: absolute;
  height: 100%;
  top: -2px;
  left: 15%;
  width: 55%;
}

.menu-right-div {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0px;
  right: 5%;
}


.menu-right {
  position: absolute;
  right: 0;
  list-style-type: none;
  bottom: 0;
}

.logOn>i {
  position: absolute;
  font-size: 50px;
  left: calc(50% - 15px);
  bottom: calc(50% - 15px);
  padding-top: 5px;
}

.header-above-menu a {
  text-decoration: none;
  color: #2d4271;
}

.menu-left {
  list-style-type: none;
  position: absolute;
  bottom: 20px;
}

.header-above .list-menu {
  width: 100px;
  height: 40px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  /* background-color: beige;
  border: 1px solid black; */
}

.list-menu>b {
  text-align: center;
  color: #2d4271;
  cursor: pointer;
}

.list-menu>a {
  text-decoration: none;
  color: #2d4271;
}

.header-above .search {
  line-height: 50px;
  width: 300px;
  height: 50px;
  line-height: 50px;
}

.logOn {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
}

form {
  display: flex;
  align-items: center;

}

input[type="text"] {
  padding: 8px;
  border: 2px solid #ffc107;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  font-size: 16px;
}

.header-below img {
  width: 100%;
  height: 400px;
}

#dropdow {
  width: 100%;
  height: 500px;
  background-color: #2d4271;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.HoiVien {
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 10%;

  }

h2 {
    color: #2d4271;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

form label {
    font-size: 16px;
    margin-right: 10px;
  }
  form input[type="text1"],
  form input[type="email"],
  form input[type="tel"],
  form input[type="date"],
  form select,
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #2d4271;
  }

  
  form input[type="text1"].dai,
  form input[type="text1"].date {
    width: 100%;
  } 

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right;
    background-size: 20px;
  }

form input[type="checkbox"] {
    margin-right: 10px;
  }

.password-input-container,
  .confirm-password-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
/* .password-input-container button, */
  .confirm-password-input-container button,
  .DK button{
    background-color: #2d4271;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
.password-input-container button:hover,
  .confirm-password-input-container button:hover,
  .DK button:hover {
    opacity: 0.8;
  }

#password-icon {
    margin-left: -30px;
    cursor: pointer;
  }
  
.MatKhau,
  .NhapLai,
  .HoTen {
    font-size: 18px;
    color: red;
  }
#DieuKhoan {
  padding: 0px 15px;
 }
#DieuKhoan h4 {
  color: #1583E0;
 }