.main {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
}
.loadi{
  width: 100%;
  height: 100%;
  z-index: 10000;
 position:fixed;
 top: 0;
 left: 0;
 overflow: hidden;
display: block;
background-color: #B0E0E6;
}
.loading{
  
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  
}
.loading>img{
 
  width: 100%;
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.HoiVien {
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
  
  }

h2 {
    color: #2d4271;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

form label {
    font-size: 16px;
    margin-right: 10px;
  }
  form input[type="text1"],
  form input[type="email"],
  form input[type="tel"],
  form input[type="date"],
  form select,
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #2d4271;
  }

  
  form input[type="text1"].dai,
  form input[type="text1"].date {
    width: 100%;
  } 

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right;
    background-size: 20px;
  }

form input[type="checkbox"] {
    margin-right: 10px;
  }

.password-input-container,
  .confirm-password-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
/* .password-input-container button, */
  .confirm-password-input-container button,
  .DK button{
    background-color: #2d4271;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
.password-input-container button:hover,
  .confirm-password-input-container button:hover,
  .DK button:hover {
    opacity: 0.8;
  }

#password-icon {
    margin-left: -30px;
    cursor: pointer;
  }
  
.MatKhau,
  .NhapLai,
  .HoTen {
    font-size: 18px;
    color: red;
  }
#DieuKhoan {
  padding: 0px 15px;
 }
#DieuKhoan h4 {
  color: #1583E0;
 }