.main {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}
.header{
   
    width: 100%;
}
.header-above {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    top: 0;
     position: relative;
}
.imglogo-header{
     width: 10%;
    position: absolute;
    height: 100%;
}
.photo{
   
}
/* menu*/
.main-dropdown,.main-dropdown2{
    
   display: none;
}
.menu-dropdown,.menu-dropdown2{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color:rgb(248, 248, 247);
    top: 80px;
    display: flex;
    border-radius: 0 0 10px 10px ;
    border: 3px solid #ebecee;
    z-index: 10;
}
.menu-dropdown-item{
    width: 25%;
   
}
.upberator-dropdown,.uperator-dropdown2{
     list-style-type: none;
}
.list-dropdown{
    padding: 20px;
}
.list-dropdown>a{
    text-decoration: none;
    color: #2d4271;
}
.list-dropdown2>a{
    text-decoration: none;
    color: #2d4271;
}
.lisdp>B>a{
    text-decoration: none;
    color: #2d4271;
}
.list-dropdown2{
padding: 30px;
}

.ubertor-news{
    position: absolute;
    display: block;
    padding: 0;
    list-style: none;
    z-index: 12;
    
}
.menunone{
    display: none;
}

.list-news{
    text-align: left;
height: 40px;
padding: 10px;
    background-color:rgb(248, 248, 247);
}
.list-news>a{
    color: #2d4271;
   line-height: 20px;
}
.list-news:hover{
    background-color: #999;
}

/* menu ringht left */
.menu-left-div{
    position: absolute;
    height: 100%;
    top: -2px;
    left: 15%;
    width: 55%;
}

.menu-right-div{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
    right: 5%;
}


.menu-right{
    position: absolute;
    right: 0;
    list-style-type: none;
    bottom: 0;
}
.logOn>i{
    position: absolute;
    font-size: 50px;
    left: calc(50% - 15px);
    bottom: calc(50% - 15px);
    padding-top: 5px;
}
.header-above-menu a {
    text-decoration: none;
    color: #2d4271;
}

.menu-left  {
    list-style-type: none;
    position: absolute;
    bottom: 20px;
}

.header-above .list-menu {
    width: 100px;
    height: 50px;
    line-height: 80px;
    text-align: center;
display: inline-block;
    /* background-color: beige;
    border: 1px solid black; */
}
.list-menu>b{
    text-align: center;
}
.header-above .search {
    line-height: 50px;
    width: 300px;
    height: 50px;
    line-height: 50px;
}

.logOn {
    position: absolute;
    font-size: 30px;
    bottom: 20px;
}

form {
    display: flex;
    align-items: center;
 
}

input[type="text"] {
    padding: 8px;
    border: 2px solid #ffc107;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
}

.header-below img {
    width: 100%;
    height: 400px;
}

#dropdow {
    width: 100%;
    height: 500px;
    background-color: #2d4271;
}
/* phan content */
.content {
    width: 100%;
    height: 100%;
    
    /* background-color:antiquewhite; */
}
.testhu{
    display: inline-block;
}
.right {
   
    width: 80%;
    height: 100%;
}
.left {
    width: 20%;
    height: 100%;
    padding: 12% 0;
    background-color: #F8F9FA;
   
}
.left h3  {
background-color: #4D4AEF;
 color: #FFF; 
 width: 100%; 
 height: 40px;
 line-height: 40px;
margin: 0;
}

input[type="date"] {
    width: 100%;
    height: 40px;
    border: 2px solid #2d4271;
    border-radius: 3px;
    padding: 0;
}

select[name="LoaiTour"],
select[name="Điểm Đến"],
input[type="date"] {
    width: 100%;
    height: 40px;
    border: 2px solid #2d4271;
    border-radius: 3px;
}

.NgayDi button,
.SoNguoi button,
.LoaiTour button {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #FFF;
    color: #2d4271;
    text-align: center;
    border: 3px solid #e2f3ff;
    border-radius: 10px;
    margin-top: 2%;
    padding: 0;
    cursor: pointer;
}
.NgayDi div,
.SoNguoi div,
.LoaiTour div {
    display: flex;
    padding: 6px 6px;
}
.NgayDi div button,
.SoNguoi div button,
.LoaiTour div button {
    margin-left: 2%;
}
.NgayDi button:hover,
.SoNguoi button:hover,
.LoaiTour button:hover {
    background-color: #4D4AEF;
    color: #FFF;
}

.right {
    width: 75%;
    height: 100%;
    /* background-color: #4D4AEF; */
}

.right p {
    color: #2d4271;
    font-size: 15px;
    line-height: 1.5;
    /* Tạo khoảng cách giữa các dòng */
}
.first,
.second {
    display: flex;
}

.Tour1,
.Tour2,
.Tour3,
.Tour4,
.Tour5,
.Tour6 {
    width: 30%;
    height: 600px;
    /* background-color: yellow; */
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    margin-left: 2%;
    margin-top: 2%;

}

.Tour1 img,
.Tour2 img,
.Tour3 img,
.Tour4 img,
.Tour5 img,
.Tour6 img {
    width: 100%;
    height: 250px;
}


.Tour1:hover,
.Tour2:hover,
.Tour3:hover,
.Tour4:hover,
.Tour5:hover,
.Tour6:hover {
    transform: translateY(-10px);
}

.Tour1 a:hover b,
.Tour2 a:hover b,
.Tour3 a:hover b,
.Tour4 a:hover b,
.Tour5 a:hover b,
.Tour6 a:hover b {
    color: #007bff;
}

.Tour1 a,
.Tour2 a,
.Tour3 a,
.Tour4 a,
.Tour5 a,
.Tour6 a {
    text-decoration: none;
}

.Gia {
    margin-left: 2%;
    background-color: #FD5056;

}

.Gia a {
    color: #FFF;
}

.Gia:hover {
    background-color: #df7b7e;
}

.ChiTiet {
    margin-left: 40%;
    background-color: #fff;
}

.ChiTiet a {
    color: #4D4AEF;
}

.ChiTiet:hover {
    background-color: #4D4AEF;
    cursor: pointer;

}

.ChiTiet:hover a {
    color: #fff;
}

.Tour1 div,
.Tour2 div,
.Tour3 div,
.Tour4 div,
.Tour5 div,
.Tour6 div {
    padding: 6px 6px;
}

.Phan3 button {
    width: 25%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.Phan1 {
    width: 100%;
    height: 100px;
}

.Phan2 {
    width: 100%;
    height: 150px;
}

.Phan2>p {
    width: 100%;
    height: 30px;
}

.Phan3 {
    width: 100%;
    height: 100px;
}
/* footer */
.In {
    display: flex;
    left: 0;
    top: 0;
}
.In li, 
.DongTour li, 
.LienHe li,
.ThongTin li  {
    list-style-type: none;
    color:#2d4271;
}


.footer-top{
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;
   
}
.In{
width: 25%;
}

.DongTour {
   width: 25%;
    
}
.LienHe {
    width: 25%;
    
}
.QR {
   
    width: 25%;
}
.ThanhToan img {
   margin: 10px;
}

.MXH i {
    font-size: 30px;
    margin: 10px;
}
.MXH button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #fe2214;
    background-color: #fe2214;
}




footer {
    background-color:rgba(128, 128, 128, 0.05);
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.in-uberator{
    position: absolute;
    display: flex;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
 
}
.in-uberators{
    margin-left: auto;
    margin-right: auto;

}
.tieude{
width: 85%;
height: 20%;
margin-left: auto;
 margin-right: auto;

}
.tieude>h2{
    color: #2d4271;
    font-size: 30px;
}
.in-uberator>li{
    font-size: 20px;
}
.QR-download{
 display: flex;
}

.icon-child{
    width: 100%;
    height:50px;
    margin-top: 50%;
}
.icon-child>i{
    font-size: 50px;
    margin-left: 20px;
}

/*footer bottom */
.footer-bottom li,
.footer-top li {
    line-height: 1.5;
    font-size: 16px;
}
.footer-bottom{
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;
}
.itembot{
    width: 25%;
}
.uberator-thanhtoan{
    display: flex;
   

}
.uberator-thanhtoan>li{
   padding: 1%;
}
.dm>li{
height: 50px;
}
.metnha{
    position: absolute;
    top :100px;
}
.dm{
    display: flex;
    
}


