.KM {
    width: 100%;
    height: 1500px;
}
.KM-left {
    width: 70%;
    height: 1500px;
    margin-left: 1%;
}
.head {
    font-size: 30px;
}
.KM {
    display: flex;
}
.KM-left img {
    width: 100%;
    height: 40%;
}
.KM-left p,
.KM-left li {
    font-size: 16px;
    line-height: 1.5;
}
.KM-right {
    width: 25%;
    height: 1500px;
    margin-left: 3%;
}
.KM-right p,
.KM-right li {
    font-size: 16px;
    line-height: 1.5;
}
li a {
    text-decoration: none;
    color: #2D4271;
}
.KM-left>b>a {
    color:#2D4271 ;
    text-decoration: none;
    cursor: pointer;
}
.XH {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 10%;
}
.XH div {
    width: 23%;
    height: 25px;
    margin-left: 2%;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
}
.TinMoi a:hover {
    color: #1d9bf0;
}
.Tweeter {
    background-color:#2D4271 ;
}
.like,
.share {
    background-color:#4267b2;
}
.save {
    background-color:#e60023 ;
}
.XH>div>a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
