.main {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

.loadi{
    width: 100%;
    height: 100%;
    z-index: 10000;
   position:fixed;
   top: 0;
   left: 0;
   overflow: hidden;
  display: block;
  background-color: #B0E0E6;
}
.loading{
    
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    
}
.loading>img{
   
    width: 100%;
    height: 100%;
}

.header {
    position: fixed;

    width: 100%;
    z-index: 20;
}

.header-above.sticky {
    background: #c7c2c2;
    opacity: 0.9;

}

.header-above.sticky.menu-left>b {
    color: #faf5f5;
}

.header-above {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    top: 0;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.imglogo-header {
    width: 10%;
    position: absolute;
    height: 100%;
}

.photo {}

/* menu*/
.main-dropdown,
.main-dropdown2 {

    display: none;
}

.menu-dropdown2 {
    position: absolute;
    width: 250%;
    height: 600px;
    background-color: rgb(248, 248, 247);
    top: 80px;
    display: flex;
    border-radius: 0 0 10px 10px;
    border: 3px solid #ebecee;
    z-index: 20;
    margin-top: 1%;
}

.menu-dropdown {
    position: absolute;
    width: 190%;
    height: 800px;
    background-color: rgb(248, 248, 247);
    top: 80px;
    display: flex;
    border-radius: 0 0 10px 10px;
    border: 3px solid #ebecee;
    z-index: 20;
    margin-top: 1%;
}

.menu-dropdown-item {
    width: 25%;

}

.upberator-dropdown,
.uperator-dropdown2 {
    list-style-type: none;
}

.list-dropdown {
    padding: 20px;
}

.list-dropdown>a {
    text-decoration: none;
    color: #2d4271;
}

.list-dropdown2>a {
    text-decoration: none;
    color: #2d4271;
}

.lisdp>B>a {
    text-decoration: none;
    color: #2d4271;
}

.list-dropdown2 {
    padding: 30px;
}

.ubertor-news {
    position: absolute;
    display: block;
    padding: 0;
    list-style: none;
    z-index: 12;
    margin-top: 1%;
}

.menunone {
    display: none;
}

.list-news {
    text-align: left;
    height: 40px;
    padding: 10px;
    background-color: rgb(248, 248, 247);
    line-height: 40px;
}

.list-news>a {
    color: #2d4271;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
}

.list-news:hover {
    background-color: #999;
}

/* menu ringht left */
.menu-left-div {
    position: absolute;
    height: 100%;
    top: -2px;
    left: 15%;
    width: 55%;
}

.menu-right-div {
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
    right: 5%;
}


.menu-right {
    position: absolute;
    right: 0;
    list-style-type: none;
    bottom: 0;
}

.logOn>i {
    position: absolute;
    font-size: 50px;
    left: calc(50% - 15px);
    bottom: calc(50% - 15px);
    padding-top: 5px;
}

.header-above-menu a {
    text-decoration: none;
    color: #2d4271;
}

.menu-left {
    list-style-type: none;
    position: absolute;
    bottom: 20px;
}

.header-above .list-menu {
    width: 100px;
    height: 40px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    /* background-color: beige;
    border: 1px solid black; */
}

.list-menu>b {
    text-align: center;
    color: #2d4271;
    cursor: pointer;
}

.list-menu>a {
    text-decoration: none;
    color: #2d4271;
}

.header-above .search {
    line-height: 50px;
    width: 300px;
    height: 50px;
    line-height: 50px;
}

.logOn {
    position: absolute;
    font-size: 30px;
    bottom: 20px;
}

form {
    display: flex;
    align-items: center;

}

input[type="text"] {
    padding: 8px;
    border: 2px solid #ffc107;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
}

.header-below img {
    width: 100%;
    height: 400px;
}

#dropdow {
    width: 100%;
    height: 500px;
    background-color: #2d4271;
}
.LoạiTT,
  .Email,
  .HoTen,
  .TD,
  .NoiDung,
  .DT{
    font-size: 18px;
    color: red;
  }
.LienHeForm {
    width: 100%;
    height: 700px;
    /* background-color: antiquewhite; */
    margin-top: 10%;
    margin-left: 1%;
    display: flex;
}
.LienHe-left  {
    width: 50%;
    height: 500px;
    /* background-color:bisque; */
}
.LienHe-left b {
    font-size: 20px;
    color: #FD5056;
}
.LienHe-left  input[type="text1"],
.LienHe-left  input[type="tel"],
.form-select,
.form-control
 {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #2d4271;
  
}
.Dongthu1,.Dongthu2{
   
    width: 100%;
    display: flex;
    height: 100px;
}
.cach5{
    margin-left: 1%
}
.cach{
    margin-left: 8%;
}
.cach2{
    margin-left: 6%;
}
.cach21{
    margin-left: 8%;
}
.form-control {
    width: 100%;
}
.btn-submit-LH {
    width: 100px;
    height: 50px;
    float:right;
    cursor: pointer;
}
.LienHe-right {
    height: 600px;
    overflow-y: scroll;
    width: 45%;
    background-color: #f9f9f9;
    margin-left: 2%;
}
.LienHe-right p {
    color: #2d4271;
}
.In {
    display: flex;
    left: 0;
    top: 0;
}

.In li,
.DongTour li,
.LienHe li,
.ThongTin li {
    list-style-type: none;
    color: #2d4271;
}


.footer-top {
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;

}
.maps {
    width: 100%;
    height: 30%;
    display: flex;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.toalac {
    width: 30%;
    color: #2d4271;
    font-size: 20px;
}
.maps-img  {
    width: 65%;
}
.maps-img iframe {
    width: 100%;
    padding-left: 5%;
}
.toalac {
    width: 30%;
}
/* sliding-xe */
.car {
    position: relative;
    width: 180px;
    height: 60px;
    background-color:#2d4271;
    border-radius: 5px;
    animation: drive 3s linear infinite;
  }
  
  .wheel {
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
  
  .wheel-left {
    left: 20px;
  }
  
  .wheel-right {
    right: 20px;
  }
  
  .body {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 140px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
  }
  @keyframes drive {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(150%);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
.In {
    width: 25%;
}

.DongTour {
    width: 25%;

}

.LienHe {
    width: 25%;

}

.QR {

    width: 25%;
}

.ThanhToan img {
    margin: 10px;
}

.MXH i {
    font-size: 30px;
    margin: 10px;
}

.MXH button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #fe2214;
    background-color: #fe2214;
}




footer {
    background-color: rgba(128, 128, 128, 0.05);
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.in-uberator {
    position: absolute;
    display: flex;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;

}

.in-uberators {
    margin-left: auto;
    margin-right: auto;

}

.tieude {
    width: 85%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;

}

.tieude>h2 {
    color: #2d4271;
    font-size: 30px;
}

.in-uberator>li {
    font-size: 20px;
}

.QR-download {
    display: flex;
}

.icon-child {
    width: 100%;
    height: 50px;
    margin-top: 50%;
}

.icon-child>i {
    font-size: 50px;
    margin-left: 20px;
}

/*footer bottom */
.footer-bottom li,
.footer-top li {
    line-height: 1.5;
    font-size: 16px;
}

.footer-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;
}

.itembot {
    width: 25%;
}

.uberator-thanhtoan {
    display: flex;


}

.uberator-thanhtoan>li {
    padding: 1%;
}

.dm>li {
    height: 50px;
}

.metnha {
    position: absolute;
    top: 100px;
}

.dm {
    display: flex;

}