
.main {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}
.headers{
   
    width: 100%;
}
.header-aboves {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    top: 0;
     position: relative;
}
.imglogo-header{
     width: 20%;
    position: absolute;
    height: 100%;
}
.photo{
   
}
/* menu*/
.main-dropdown,.main-dropdown2{
    
   display: none;
}
.menu-dropdown,.menu-dropdown2{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color:rgb(248, 248, 247);
    top: 80px;
    display: flex;
    border-radius: 0 0 10px 10px ;
    border: 3px solid #ebecee;
    z-index: 10;
}
.menu-dropdown-item{
    width: 25%;
   
}
.upberator-dropdown,.uperator-dropdown2{
     list-style-type: none;
}
.list-dropdown{
    padding: 20px;
}
.list-dropdown>a{
    text-decoration: none;
    color: #2d4271;
}
.list-dropdown2>a{
    text-decoration: none;
    color: #2d4271;
}
.lisdp>B>a{
    text-decoration: none;
    color: #2d4271;
}
.list-dropdown2{
padding: 30px;
}

.ubertor-news{
    position: absolute;
    display: block;
    padding: 0;
    list-style: none;
    z-index: 12;
    
}
.menunone{
    display: none;
}

.list-news{
    text-align: left;
height: 40px;
padding: 10px;
    background-color:rgb(248, 248, 247);
}
.list-news>a{
    color: #2d4271;
   line-height: 20px;
}
.list-news:hover{
    background-color: #999;
}

/* menu ringht left */
.menu-left-div{
    position: absolute;
    height: 100%;
    top: 8px;
    left: 15%;
    width: 40%;
}

.menu-right-div{
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0px;
    right: 5%;
}


.menu-right{
    position: absolute;
    right: 0;
    top: 8px;
}
.logOn>i{
    position: absolute;
    font-size: 50px;
    left: calc(50% - 15px);
    bottom: calc(50% - 15px);
    padding-top: 5px;
}
.header-above-menus a {
    text-decoration: none;
    color: #2d4271;
}

.menu-left , .menu-right {
    list-style-type: none;
    display: flex;
}

.header-aboves .list-menu {
    width: 100px;
    height: 50px;
    line-height: 80px;
    text-align: center;
margin-top: -4%;
padding: 2%;
    /* background-color: beige;
    border: 1px solid black; */
}

.header-aboves .search {
    line-height: 50px;
    width: 300px;
    height: 50px;
    line-height: 30px;
}

.logOn {
    font-size: 40px;
}

form {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

input[type="text"] {
    padding: 8px;
    border: 2px solid #ffc107;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
}

.header-below img {
    width: 100%;
    height: 400px;
}

#dropdow {
    width: 100%;
    height: 500px;
    background-color: #2d4271;
}



/* thanh cuon croll */

.slider {
    max-width: 1500px;
    margin: 25px auto;
    position: relative;
}

.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.slider-next {
    right: -25px;
}

.slider-prev {
    left: -25px;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 10;

}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: #999;
    cursor: pointer;
    transition: background-color 0.25s linear;

}

.slider-dots li.active {
    background-color: white;
}

.slider-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
    height: 100%;
    /* animation: runn 10s infinite; */
}

.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@keyframes runn {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-6000px);
    }
}

/* content */
.content{
    width: 100%;
    height: 30%;
    position: relative;
}
.content-2{
    height: 100%;
    width: 100%;
}
.containers{
    position:absolute;
    background-color:#ebecee;
    height: 420px;
    width: 90%;
    left: calc(50% - 45%);
    bottom: calc(50% - 485px);
    border-radius: 10px;
   
}
.uberator-hear-container{
    padding: 0;
    margin: 0;
}
.uberator-hear-container p i {
    font-size: 18px;
}
.hear-container{
    height: 110px;
    width: 100%;
  
}
.menu-container{
    width: 100%;
    height: 100%;
    background-color: rgba(45,66,113,.8); 
     border-radius: 10px 10px 0 0;
}
.uberator-hear-container>li{
    display: inline-block;
    padding: 16px 24px;
}
.uberator-hear-container>li>p{
    text-align: center;
    color: azure;
}
.uberrator-seach-tour>li{
    display: inline-block;
}
.uberrator-seach-tour>li>button{
    padding: 8px 16px;
    border:solid #ebecee;;
}
.content-container{
    height: 50px;
}
.footer-tour{
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 250px;
    border-radius: 0  0 10px 10px;
    border: 1px solid #2d4271 ;
}
.tour-box1{
    width: 100%;
    height: 100%;
    position: absolute;
    left: calc(25% - 25%);
    bottom: calc(25% - 125px);
    
}

.tour-box-item{
    display: inline-block;
    margin-left: 2%;
}
.tb1,.tb3{
    width: 15%;
    height: 75px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 5px solid #ffc107;
    
}
.tb2{
    width: 5%;
    height: 37%;
    margin-right: 2%;
    position: relative;
}
.tb2>i{
    position: absolute;
    font-size: 50px;
    left: calc(50% - 25px);
    bottom: calc(50% - 25px);
}
.kt1{
    width: 20%;
    height: 75px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 5px solid #ffc107;
}
.kt2{
    width: 15%;
    height: 75px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 5px solid #ffc107;
}
.kt3{
width: 9%;
height: 37%;
border-radius: 5px;
background-color: #2d4271;
position: relative;
}
.kt3>i{
    position: absolute;
    font-size: 50px;
    left: calc(50% - 25px);
    bottom: calc(50% - 25px);
}
.content-img>img{
    width: 100%;
    height: 630px;
}
/*slider*/
.slider-run{
    height: 600px;
    width: 100%;
    margin-top: 220px;
   background-color:#a9cff3;
    position: relative;
}
.slider-run-block{
    width: 90%;
    height: 76%;
    position: absolute;
    left: calc(50% - 45%);
    bottom: calc(50% - 39%);
    
    
}
.carousel-inner{
   
}
.uberator-caroudel{
    display: flex;
    list-style-type: none;
}
.uberator-caroudel>li{
    width: 32%;
    padding: 2%;
}
.carousel-item>ul>li>img{
    height: 300px;
    width: 100%;
}
/*content items */
.content-items{
    height: 2000px;
    width: 100%;
    background-color:#a9cff3;
    position: relative;
   
}
.content-items-block{
    position: absolute;
height: 500px;
width: 100%;
background-color:#a9cff3;
}
.content-items-child{
    height: 100%;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
   
}
.tieude-content-item{
    height: 100px;
}
.list-items-contents{
    height: 350px;
    width: 17%;
    display: inline-block;
    margin-left: 2%;
    position: relative;
    border: 3px solid #bec5d1;
    border-radius: 20px;
   
}
.list-items-contents>a>img{
    height: 100%;
    width: 100%; 
    border: 3px solid #bec5d1;
    border-radius: 20px;
 
    
}
.gioithieu-tour{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(0,rgba(83, 77, 136, 0.5),rgba(101, 211, 211, 0.5));
    border-radius: 20px;
}
.gioithieu-tour>h3{
    font-family: system-ui;
    font-size: 25px;
    color:bisque;
    text-align: center;
    

}




.content-items-block2{
    margin-top: 500px;
    position: absolute;
    height: 700px;
width: 100%;
background-color:#a9cff3;
}
.Tour1,
.Tour2,
.Tour3{
    width: 30%;
    height: 600px;
    /* background-color: yellow; */
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    margin-left: 2%;
    margin-top: 2%;


}

.Tour1 img,
.Tour2 img,
.Tour3 img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}


.Tour1:hover,
.Tour2:hover,
.Tour3:hover {
    transform: translateY(-10px);
}

.Tour1 a:hover b,
.Tour2 a:hover b,
.Tour3 a:hover b {
    color: #007bff;
}

.Tour1 a,
.Tour2 a,
.Tour3 a {
    text-decoration: none;
}

.Gia {
    margin-left: 2%;
    background-color: #FD5056;

}

.Gia a {
    color: #FFF;
    text-decoration: none;
}

.Gia:hover {
    background-color: #df7b7e;
}

.ChiTiet {
    margin-left: 40%;
    background-color: #fff;
}

.ChiTiet a {
    color: #4D4AEF;
    text-decoration: none;
}

.ChiTiet:hover {
    background-color: #4D4AEF;
    cursor: pointer;

}

.ChiTiet:hover a {
    color: #fff;
}

.Tour1 div,
.Tour2 div,
.Tour3 div {
   
    border-radius: 10px;
}

.Phan3 button {
    width: 25%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.Phan1 {
    width: 100%;
    height: 40%;
    
}

.Phan2 {
    width: 100%;
    height: 40%;
}

.Phan2>p {
    margin-top: 1%;
    width: 100%;
    height: 30px;
}

.Phan3 {
    width: 100%;
    height: 20%;
}
.first{
    display: flex;
    position: relative;
}
.phanthan{
    background-color: #FFF;
    width: 100%;
    height: 360px;
}
.Phan1,.Phan2,.Phan3{
    margin-left: 1%;
}

/* content-3*/





.content-items-block3{
    margin-top: 1200px;
    position: absolute;
    height: 400px;
width: 100%;
/* background-color:#df7b7e */
}
.tieude-uudai{
    width: 100%;
    height: 10%;
}

.sale-content{
    width: 100%;
    height: 90%;
    background-color: #FFF;
    display: flex;
    border-radius: 20px;
    border: 2px solid #999;

}
.items-sale-contents{
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
 
}
.items-sale-contents2{
    width: 50%;
    height: 100%;
    /* background-color: rgb(20, 240, 67); */

}
.sale1>img{
height: 100%;
width: 100%;
}
.sale-trailer-sale{
    height: 40px;
    width: 175px;
    background-color: #2d4271;
    border-radius: 10px;
   position: relative;
   color: #fff;
}
.sale-trailer-sale>p{
    width: 170px;
    height: 50%;
    position: absolute;
    left: calc(50% - 79px);
    bottom: calc(50% - 60%);
}

.star{
    padding: 0;
}
.star>li{
    display: inline;
}
.star>li>i{
    font-size: 20px;
    color: #ffc107;
}
.sale-coment{
    width: 100%;
}
.iconnnn{
    display: flex;
    width: 100%;
    height: 50px;
    height: 70%;
}
.iconnnn>h5 {
    color: #2d4271;
}
.iconnnn> i {
    background-color: #ffc107;
}

.iconnnn .cs{
    font-size: 60px;
   
    position: relative;
    height: 70%;

    margin-right: 2%;
}
.iconnnn .cs>h2{
position: absolute;
top: 2%;
left: 15%;
}
.sale-trailer{
width: 96%;
height: 40%;
margin-right: 2%;
    margin-left: 2%;
}
.sale-trailer >h5>b {
    color: #2d4271;
}
.sale-trailer h5:hover b {
    color: #4D4AEF;
}
.sale-icon{
width: 96%;
height: 30%;
margin-right: 2%;
    margin-left: 2%;
}
.sale-icon >p {
    color: #999;
}
.sale-coment{
width: 96%;
height: 30%;
margin-right: 2%;
    margin-left: 2%;
}
.iconti{
    height: 30%;
    display: flex;
}
.iconti>p {
    color: #4D4AEF;
}
.iconti>i{
    font-size: 20px;
    
    margin-right: 2%;
}
.ti-truck {
    color: #4D4AEF;
}
.sale-icon>p{
font-size: 15px;
}
.sale3{
    position: relative;
    border-left: 1px solid #999;
}
.sale3-item-block{
position: absolute;
width: 100%;
height: 65%;
bottom: 0;
/* background-color: #bec5d1; */
text-align: right;
}
.sale-phan1{
    width: 100%;
    height: 50%;
}
.sss{
    height: 30%;
}
.phan-footer{
    height: 20%;
    color: #4D4AEF;
}
.sss>.ChiTiet{
   margin-right: 5%;
}
.sale-phan1>h6>b{
    color: #2d4271;
}
.sale-phan1>p>B{
    font-size: 30px;
    color: red;
}
.sale-content:hover{
transform:translateY(-10px);
cursor: pointer;
}
