@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Dancing+Script&family=Libre+Franklin:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Libre+Franklin:ital,wght@1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Libre Franklin', sans-serif;
}
.main{
    height: 110vh;
    width: 100%;
    background-image: url(/img/ccs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0, 0.9);
    
}
html,
*{
cursor: none;
}
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f5f5f5;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;
 
    transition: transform 0.2s;
  }
/* body {
    cursor: url(https://lh3.googleusercontent.com/BlETOnm98yPP5xCHbkFiFREFHNTQqucd_kFkfkYNKKnNohHvvnM7NTlLFq3rAukha0q-JEkouEgvfZnHkrhrzGIaps33RSJOuDV-_NiaPwSfn_cYbp5ayvFkYo4idwDkm-yb1G_jEwpY1zbrNtunux_oGFV-ADsdBVkK5qFqxj5OXMt3Qyw5GDkLgf5cdBHCK91go-7TkV8gT3zwbSWT8gi5tgFkY3UhyTM_X8E0FOU7uLOYBYDlTrEiIuIgqPEWOaj5MbH0j1j871KiLY65x4UsadJDzkpjT3mbfXgoMfDu4p3bE_I9a3Ck2MZq76RxKTH4iDHNwyz2hA0E0BXh2tsoq3mBQEH0h5ywIEDpNqMMQQ1HD33jfqX6TxZT48R6dGso6s4yGruWrMhn4CEwbvuNhOQYEO_r9e8WsIurKqU9bZ7Uiy3YdEtzgKG-sXHV5wJZQv8G0sr-utR9Cu8EzoYBHNdC2Yh-2eE8MAM0yS_15zKp-7igRo9RNhA_0TUkDgb8c4DQ4nC91VfylAA-elZKZtxDySI9U1ZCou1F8q42HJdD8A62CODQ2tlLJ3GMILtXQMM-T_JLhKzzg7gaTk8o9-E3pC5WVyh-yN9dSS-7sUqDBtUUF4bPWgg1WN2CbcJKXzDre_fBkw8hQ5Hzy_2Gp2LoMeSFB1c=s25-no), auto;
}
body:active {
    animation: cursor 2s;
} */

@keyframes cursor{
  from{ 
    }
  to{
    cursor: url(https://lh3.googleusercontent.com/pg5NgqvH-ljQhDjHXV3EHSdX9jYo3_DP2S5r72qH53KZgHjLXBWZb5exYINk7zGA0Xl05TJ4vRdj6Yx1M4gNwLy4jDCjZ_ihsnmO_qDIh5GSxdemoWioqsNjBuR2dyhHy72bToMwv4XRm8a9Rul2hkh9WgpcFRgA8UDPV_D_wCOvxVw6QN6bR472ZQdjCy0QKvHmuzCbuTFnrMCScHJf8OiqJcjhlk04yvaeigm_TJgM8AAgcqtiMJ1MYH5ebI9O34-8HxSPrME47y_9jEN_RSgTPbKD77izoxx531jwIkYbJ5_bSD6NMFDsrub1hlmzexjblGs9bkoC8rbINmCHuUo-zHZaRW3cWkpx-tI4-XjVIgEeoDcwaL0IDOZop2t9aUfbmZQxng-kYVlNzSRwfkWwjAqwJJsS_68T7e7-W_mF1qbdL2BVbihpf8Vy7-8uXYlvHZbiqeiFfEsofThcGWopj8QwXN7Wqo4I8qX0bC7zJrao3UAFVwQ9ox80sWqeIXwJL4NoJs71x_v2GBPdFF74tyMptSL23oLv0c3PNREa2wkqxL1TFpg2VhwTFJRf=s25-no), auto;
  }
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 10%;
}
.uberator-start>li{
    color: aliceblue;
}
.content>h2{
    font-size: 50px;
    color: rgb(255, 255, 254);
}
span{
    font-weight: 400;
}
.content ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
.content ul a {
    text-decoration: none;
    color: rgb(255, 255, 254); 
    font-size: 15px;
}
.content ul li::after{
    content: "";
    display: block;
    width: 0%;
    background-color: black;
    height: 3px;
    margin: auto;
    transition: 0.4s;
}
.content ul li:hover:after{
    width: 100%;
}
.text{
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 1;
}
.text>p{
    margin-bottom: 2%;
    color:rgb(255, 255, 254); 
    font-size: 20px;
}
.text>h1{
    color: black;
    font-size: 60px;
    line-height: 90px;
}
.text>button{
    background-color: rgb(147, 165, 159);
    color: rgb(13, 13, 14);
    padding: 20px 40px;
    border-radius: 20px;
    cursor:auto;
    animation: animetionsdatve 4s infinite;
    transition: 0.3s;
}
.social{
width: 100px;
height: 100px;
position: absolute;
left: 5%;
bottom: 5%;
margin-top: 3%
}
.social>ul{
    display: inline-flex;
    list-style-type: none;
}
.social>ul>li{
    padding: 20px;
    margin: 45px auto;
}
.social>ul>li>i{
font-size: 40px;
color: white;
}

@keyframes animetionsdatve{
    0%{
       opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
    100%{
      opacity: 0.4;
    }
}
.menu-classlist{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(166, 244, 247, 0.7);
    position: absolute;
    text-align: center;
    right: 0;
    
}
#listmenu{
    display: none;
}
.uberator-menulist{
    list-style-type: none;
}

.uberator-menulist>li>a{
    font-size: 30px;
    line-height: 150px;
   
    color:rgb(18, 24, 24);
}
.closed-menu{
    font-size: 50px;
    color: rgb(5, 12, 12);
    position: absolute;
    bottom: 20%;
    right: 5%;
}