@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Dancing+Script&family=Libre+Franklin:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Libre+Franklin:ital,wght@1,100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Libre Franklin', sans-serif;
}
#switch-mode{
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 5px;
    width: 30px;
    height: 30px;
}
body.dark{
    background: #000;
    color: #fff;
    z-index: 1000;
 }
 body.dark .right>p{
    color:  #fff;
 }
 body.dark .right>h1{
     color:  #fff !important ;

 }
 body.dark .header-above .menu-left-div>ul>li>h3,
 body.dark .header-above .menu-left-div>ul>li>a
 {
     color: #fff;
 }
 body.dark .header-above{
    background: #3f3e3e;
   
   
 }
 body.dark .main-dropdown>li{
    color: #000;
 }
 .darkh1{
    color: #2D4271;
     text-align: center;
 }
 body.dark .left{
    background-color: #000;
    
 }
 body.dark .header-above #switch-mode{
    color: #fff;

 }
 body.dark .first .Phan1>p{
    color:  #fff;
 }
 body.dark .first .Phan1>a>B{
    color:  #fff;
 }
 body.dark .first .Phan2>p{
    color:  #fff;
 }
 body.dark .second .Phan1>p{
    color:  #fff;
 }
 body.dark .second .Phan1>a>B{
    color:  #fff;
 }
 body.dark .second .Phan2>p{
    color:  #fff;
 }
 body.dark .right>p{
    color:  #fff;
 }
 body.dark .left>div>h2,
 body.dark .left>div>h4
 {
     color:  #fff !important ;

 }
 body.dark h2 ,
 body.dark li ,
 body.dark a ,
 body.dark b>a
 {
    color:  #fff;
 }
  body.dark .header-above .list-menu h3:hover{
    color: #000;
  }
  body.dark .main-dropdown .list-dropdown>a{
    color: #000;
  }
  
  body.dark .main-dropdown .list-dropdown>B>a{
    color: #7c87ec;
  }
  body.dark .main-dropdown .lisdp>B>a{
    color: #000;
  }
  body.dark .main-dropdown2 .list-dropdown2>a{
    color: #000;
  }
.main {
    padding: 0;
    margin: 0;
    font-size: 14px;
    position: relative;
}
.loadi{
    width: 100%;
    height: 100%;
    z-index: 10000;
   position:fixed;
   top: 0;
   left: 0;
   overflow: hidden;
  display: none;
  background-color: #B0E0E6;
}
.loading{
    
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    
}
.loading>img{
   
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}
.header{
   
    width: 100%;
}
.header-above {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    top: 0;
     position: relative;
}
.imglogo-header{
     width: 10%;
    position: absolute;
    height: 100%;
}
.photo{
   
}

/* menu*/
/* .main::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    display: block;

} */
.main>input{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    opacity: 0;
    z-index: 10000000;
    position: fixed;
    background-color: aliceblue;

}
.main input:checked ~ .menu-icons .menu-line::before{
    transform: rotate(90deg);
    top: 0;
}
.main input:checked ~ .menu-icons .menu-line::after{
    transform: rotate(90deg);
    top: 0;
}
.main input:checked ~ .menu-icons .menu-line{
    transform: rotate(135deg);
    transition: 0.3s;
}
.main input:checked ~ .menu-items{
    right: 0;
}
.menu-icons{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    position: fixed;  
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.iconclosed{
    position: absolute;
    bottom: 2%;
    right: 1%;
    font-size: 50px;
    color: gray;
    cursor: pointer;
}
.menu-line{

    height: 4px;
    width: 100%;
  position: relative;
    background-color:#2d4271;
}
.menu-line::before{
    content: "";
    display: block;
    position: absolute;
    background-color:  #2d4271;
    height: 4px;
    width: 100%;
    top: -14px;
}
.menu-line::after{
    content: "";
    display: block;
    position: absolute;
    background-color:  #2d4271;
    height: 4px;
    width: 100%;
    top: 14px;
}
.menu-items{
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: rgba(236, 229, 229, 0.7);
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    z-index: 100000;
}
.uberator-items{
    list-style-type: none;
    
}
.uberator-items>li{
line-height: 100px;

}
.uberator-items>li::after{
    content: "";
    display: block;
    width: 0%;
    background-color: rgb(136, 136, 145);
    height: 3px;
    margin: auto;
    transition: 0.4s;
}

.uberator-items>li:hover::after{
    width: 100%;
}
.uberator-items>li>a{
    color: #020d18;
    font-size: 30px;
    text-decoration: none;
    
}
.main-dropdown,.main-dropdown2{
    
   display: none;
}
.menu-dropdown,.menu-dropdown2{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 80px;
    display: flex;
    border-radius: 0 0 10px 10px ;
    border: 3px solid #ebecee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:rgb(248, 248, 247);
    z-index: 1;
}
.menu-dropdown-item{
    width: 25%;
   
}
.upberator-dropdown,.uperator-dropdown2{
     list-style-type: none;
}
.list-dropdown a:hover,
.list-dropdown2 a:hover {
  color: #007bff;
  cursor: pointer;
}
.list-dropdown{
    padding: 20px;
}
.list-dropdown>a{
    text-decoration: none;
    color: #2d4271;
}
.list-dropdown2>a{
    text-decoration: none;
    color: #2d4271;
}
.lisdp>B>a{
    text-decoration: none;
    color: #2d4271;
}
.list-dropdown2{
padding: 30px;
}

.ubertor-news{
    list-style: none;
    z-index: 12;
    position: absolute;
    top: 175%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menunone{
    display: none;
}
.list-news a:hover {
    cursor: pointer;
 }
.list-news{
    text-align: left;
height: 80px;
padding-left: 20px;
padding-right: 20px;
    background-color:rgb(248, 248, 247);
}
.list-news>a{
    color: #2d4271;
   line-height: 20px;
   text-decoration: none;
}
.list-news:hover{
    background-color: #999;
}

/* menu ringht left */
.menu-left-div{
    position: absolute;
    height: 100%;
 bottom: 20%;
    left: 15%;
    width: 55%;
}

.menu-right-div{
    position: absolute;
    height: 30px;
    width: 20%;
    /* top: 0px; */
    right: 5%;
    bottom: 20%;
}


.menu-right{
    position: absolute;
    right: 0;
    list-style-type: none;
    bottom: 0;
}
.logOn>i{
    position: absolute;
    font-size: 50px;
    left: calc(50% - 15px);
    bottom: calc(50% - 15px);

}
.header-above-menu a {
    text-decoration: none;
    color: #2d4271;
}

.menu-left  {
    list-style-type: none;
    position: absolute;
    bottom: 20px;
}

.header-above .list-menu {
    width: 125px;
    height: 50px;
    line-height: 90px;
    text-align: center;
display: inline-block;
margin-left: 5px;
    /* background-color: beige;
    border: 1px solid black; */
}
.header-above .list-menu h3:hover{
    background-color: #fdfafa;
}
.list-menu>h3 {
    text-align: center;
    color: #2d4271;
    cursor: pointer;
    height: 90px;
}
.list-menu>a,.list-menu>h3>a{
    text-decoration: none;  
    color:#2d4271;
}
.header-above .search {
    line-height: 50px;
    width: 300px;
    height: 50px;
    line-height: 50px;
}

.logOn {
    position: absolute;
    font-size: 30px;
    bottom: 20px;
}

form {
    display: flex;
    align-items: center;
 
}

input[type="text"] {
    padding: 8px;
    border: 2px solid #ffc107;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
}

.header-below img {
    width: 100%;
    height: 400px;
}

#dropdow {
    width: 100%;
    height: 500px;
    background-color: #2d4271;
}
/*main content*/
.main-content{
    height: 2800px;
    width: 100%;

}
.logo-content{
    width: 100%;
    height: 500px;
    background-color: #007bff;
    overflow: hidden;
}
.logo-content>img{
width: 100%;
height: 500px;

}
.menu-car{
    width: 90%;
    height: 1600px ;
    margin-left: auto;
    margin-right: auto;
  
}
.menu-car>h1{
    font-size: 30px;
   
}
.btn {
    border: none;
    outline: none;
    padding: 30px 40px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  
  #myBtnContainer{
    width: 100%;
    height: 150px;
  }
  .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .column{
    width: 30%;
    margin-left: 2%;
    margin-bottom: 2%;
   display: none;
  }
  .show{
    display: block;
  }
  .nature{

  }
  .cars{

  }
  .people{
    
  }
  .content{
    width: 100%;
    height: 400px;
    border: 3px solid rgb(115, 116, 113);
    border-radius: 10px;
    position: relative;
  }
  .img-content{
  height: 80%;
  }
  .img-content>img{
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  .text-content{
    width: 100%;
    height: 20%;
     text-align: center;
     border-radius: 10px;
     position: absolute;
  }
  .content:hover{
    transform: translateY(-10px);
    animation: modi 2s infinite;
    color: red;
    cursor: pointer;
  }
@keyframes modi{
    0%{
opacity: 1;
    }
    25%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.4;
    }
    100%{
        opacity: 0.3;
    }
}
.trailer-car{
    width: 100%;
    height: 500px;
    margin-top: 10%;
    /* background-color: #999; */
}
.trailer-car>h1{
    font-size: 30px;
}
.trailer-car>p,.uperator-trailer-car>li{
    font-size: 20px;
    line-height: 1.5;
}
.uperator-trailer-car>li{
    margin-left: 2%;
}
/* footer */
.In {
    display: flex;
    left: 0;
    top: 0;
}

.In li,
.DongTour li,
.LienHe li,
.ThongTin li {
    list-style-type: none;
    color: #2d4271;
}


.footer-top {
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;

}

.In {
    width: 25%;
    position: relative;
}

.DongTour {
    width: 25%;
    position: relative;

}

.LienHe {
    width: 25%;
    position: relative;

}

.QR {

    width: 25%;
    position: relative;
}

.ThanhToan img {
    margin: 10px;
}

.MXH i {
    font-size: 30px;
    margin: 10px;
}

.MXH button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #fe2214;
    background-color: #fe2214;
}




footer {
    background-color: rgba(128, 128, 128, 0.05);
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.in-uberator {
   position: absolute;
    display: flex;
    height: 80%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    bottom: 0;
    /* width: 100%; */
    width: 100%;
    justify-content: center;

}

.chanfoot{
    display: block;
}
.chage-footer1{
   width: 100%;
}
.chage-footer-child{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.in-uberators {
    margin-left: auto;
    margin-right: auto;

}

.tieude {
    width: 85%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.tieude>h2 {
    color: #2d4271;
    font-size: 30px;
}

.in-uberator>li {
    font-size: 20px;
}

.QR-download {
    position: relative;
    display: flex;
}

.icon-child {
    width: 100%;
    height: 50px;
    margin-top: 50%;
}

.icon-child>i {
    font-size: 50px;
    margin-left: 20px;
}

/*footer bottom */
.footer-bottom li,
.footer-top li {
    line-height: 1.5;
    font-size: 16px;
}

.footer-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;
}

.itembot {
    width: 25%;
    position: relative;
}

.uberator-thanhtoan {
    display: flex;


}
.footer-chagebottom{
width: 100%;


}
.phaaiii{
    margin-left: 25%;
}
.footerrr{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.uberator-thanhtoan>li {
    padding: 1%;
}

.dm>li {
    height: 50px;
}

.metnha {
    position: absolute;
    top: 100px;
}

.dm {
    display: flex;

}
.uberator{
    width: 50%;
    text-align: center;
}
